html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  margin: 0;
  text-align: center;
  background-color: #eee9de;
}

h1 {
  font-family: Lato, sans-serif;
}

.page {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
  max-width: 25em;
}

section {
  padding: 2em 0;
}

img {
  width: 100%;
  text-align: left;
  display: inline;
  vertical-align: middle;
  padding: 1em;
  max-width: 25em;
}

p {
  text-align: left;
  color: black;
  margin: 0 0 1.5rem;
}

h2 {
  font-weight: bold;
  text-align: left;
  margin: 0 0 1.5rem;
}

.btn {
  font-family: Lato, sans-serif;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 0;
  color: black;
  border: .2em solid black;
  border-radius: .5em;
  padding: .75em;
}

.btn:hover {
  background-color: #666;
  text-decoration-color: #333;
}
