html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  background-color: #eee9de;
  font-family: georgia, serif;
  line-height: 1.5;
}

body {
  display: block;
  margin:auto;
  text-align: center;
  background-color: #eee9de;
}

div {
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
  max-width: 25em;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1.5em;
}

p {
  font-family: 'Lato', sans-serif;
  margin-top: 1em;
  text-align: left;
}

a {
  font-family: 'Lato', sans-serif;
  float: left;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.5em;
  color: black;
  border: .2em solid black;
  border-radius: .5em;
  padding: .75em;
}

.btn:hover {
  background-color: #666;
  text-decoration-color: #333;
}

img {
  width: 100%;
  height: auto;
  max-width: 25rem;
  text-align: center;
  background-color: #eee9de;
  padding: .5em;
  display: inline-block;
  vertical-align: middle;
}
